services:
  web:
    image: nginx:latest
    container_name: noteshandler-web
    ports:
      - "8084:80"
    volumes:
      - ./frontend/vite-project/dist:/usr/share/nginx/html:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
        - app-network

  database:
    image: postgres:latest
    environment:
      POSTGRES_DB: NotesHandlerDB
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql
    networks:
      - app-network
    ports:
        - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d NotesHandlerDB" ]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: .
    ports:
    - "8082:8080"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
    depends_on:
      database:
       condition: service_healthy
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  db-data: {}
